<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{partial "head.html" .}}

<body>
    <div class="center-container">
        <div class="main">
        <div class="articles">
            <div class="tweet {{ with .Draft }}draft{{ end }}">
                <span class="tweet-date">{{ .Date | dateFormat "Mon, 02 Jan 2006 15:04:05" }}</span>
                <br />
                {{ .Content | safeHTML }}
            <span {{ with .Draft }} class="draft" {{ end }}>
            {{ partial "tags.html" . }}
            </span>
            </div>
        </div>
    </div>
</body>
{{partial "footer.html" .}}
</html>
