<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{partial "head.html" .}}

<body>
    <div class="center-container">
        {{partial "header.html" .}}
        <div class="main">
            <div class="articles">
                {{ $paginator := .Paginate (where .Data.Pages "Type" "note") }}
                {{ range $paginator.Pages }}
                {{ .Render "li" }}
                {{ end }}
            </div>
        </div>
        {{ partial "pagination.html" $paginator }}
        {{partial "footer.html" .}}
    </div>
    <!--<script type="text/javascript" src="{{ .Site.BaseURL }}/js/background.js"></script>-->
</body>

</html>
