$bg_color: #fdf6e3;
$logo_link_color: #cd5c5c;
$shadow_color: #999999;
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'adelle', 'Georgia', serif;
    font-size: 18px;
    line-height: 1.5em;
    background: $bg_color;
}

::selection {
    background: black;
    color: white;
}

::-moz-selection {
    background: black;
    color: white;
}

a {
    color: #CC6666;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

hr {
    height: 1px;
    border: none;
    border-bottom: 1px solid $shadow_color;
    margin: 0.5em 0;
}


/*-------------------------*/


/*----- center container --*/


/*-------------------------*/

.center-container {
    width: 660px;
    max-width: 90%;
    margin: 0 auto;
}


/*------------------*/


/*----- header -----*/


/*------------------*/

.header {
    width: 100%;
    padding: 40px 0;
    a {
        color: black;
        transition: color linear .2s;
        &:hover {
            color: $logo_link_color;
            text-decoration: none;
        }
    }
    #logo {
        width: 40%;
        float: left;
        font-size: 1.25em;
        
    }
    .header-right {
        width: 60%;
        float: right;
        text-align: right;
        //font-family: monospace;
    }
}

/*------------------*/


/*----- main -----*/


/*------------------*/

@media (max-width: 500px) {  
    .hidden-when-small {
        display: none;  
    }
    .display-when-small {
        display: inline !important;
    }
}
@media (max-width: 400px) {  
    .hidden-when-smaller {
        display: none !important;  
    }

    .display-when-smaller {
        display: inline !important;
    }
}

@media (max-width: 355px) {  
    .hidden-when-smallest {
        display: none !important;  
    }
}

.main {
    width: 100%;
    margin-bottom: 25px;
    .articles {
        a {
            color: #47484b;
        }
        h2 {
            margin-top: 2em;
            font-weight: normal;
            font-size: 1.35em;
            span {
                float: right;
                font-family: monospace;
                font-size: 0.8em;
            }
            .hidde {
                display: none;
            }
        }
    }
    article {
        header {
            padding-top: 50px;
            padding-bottom: 30px;
            text-align: center;
            h1 {
                padding-bottom: 20px;
                font-family: 'adelle', 'Georgia', serif，arial, sans-serif;
                font-weight: normal;
                font-size: 1.5em;
            }
            span {
                font-family: monospace;
                color: $shadow_color;
                font-size: 0.9em;
            }
        }
        .content {
            h1 {
                padding-top: 0.75em;
                padding-bottom: 0.75em;
                font-family: 'adelle', 'Georgia', serif，arial, sans-serif;
                font-weight: normal;
                font-size: 1.25em;
            }
            h2 {
                padding-top: 0.75em;
                padding-bottom: 0.75em;
                font-family: 'adelle', 'Georgia', serif，arial, sans-serif;
                font-weight: bold;
                font-size: 1em;
            }
            h3 {
                padding-top: 0.75em;
                padding-bottom: 0.75em;
                font-family: 'adelle', 'Georgia', serif，arial, sans-serif;
                font-weight: normal;
                font-size: 1em;
            }
            ul {
                list-style-position: inside;
                padding-left: 2em;
                padding-top: 0.75em;
                padding-bottom: 0.75em;
                li {
                    p {
                        text-indent: 0px;
                    }
                }
            }
            ol {
                list-style-position: inside;
                padding-left: 2em;
                padding-top: 0.75em;
                padding-bottom: 0.75em;
                li {
                    p {
                        text-indent: 0px;
                    }
                }
            }
            blockquote {
                //border-top: 1px solid #ccc;
                //border-bottom: 1px solid #ccc;
                padding-top: 0.75em;
                padding-bottom: 0.75em;
                padding-left: 2em;
                color: #a5a4a4;
                //font-style: italic;
            }
            pre {
                padding-left: 2em;
                padding-top: 0.75em;
                padding-bottom: 0.75em;
                margin-top: 0.8em;
                margin-bottom: 0.8em;
                border: 1px solid #ccc;
                border-radius: 10px;
                code {
                    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
                    font-size: 80%;
                    white-space: pre-wrap;
                }
            }
            code {
                font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
                font-size: 80%;
                white-space: pre-wrap;
            }
            p {
                //text-indent: 2em;
                word-break: break-all;
                padding-top: 0.75em;
                padding-bottom: 0.75em;
                img {
                    max-width: 85%;
                    max-height: 85%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    //box-shadow: 8px 8px 10px #aaa;
                    //border: 10px solid #fff;
                    //border-bottom: 25px solid #fff;
                    //-webkit-box-shadow: 3px 3px 3px #777;
                    //-moz-box-shadow: 3px 3px 3px #777;
                    //box-shadow: 3px 3px 3px #777;
                }
            }
        }
    }
}

/*------------------*/


/*----- pagination -----*/


/*------------------*/
.pagination {
    text-align: center;
    a {
            color: #47484b;
        }
    .prev {
        float: left;

    }
    span {
        .number {
            
        }
    }
    .next {
        float: right;
    }
}



/*------------------*/


/*----- footer -----*/


/*------------------*/

footer {
    width: 100%;
    padding: 50px 0 10px;
    p {
        text-align: center;
        font-size: 0.9em;
        font-style: italic;
    }
    form {
        text-align: center;
        display: none;
        .email {
            transition: width 0.1s;
            font-size: 0.8em;
        }
    }
}
