$bg_color: #fffff0;
$body_color: #515256;

$help_link_color: #3aa6dd;
$nav_link_color: #cd5c5c;

$table_header_color: #fdf6e3;
$border_color: #dddddd;
$shadow_color: #999999;
$highlight_color: #ecbeb3;
$body_font: "Fira Code", "Lucida Console", Monaco, Consolas, monospace, "SimSun", "adelle", "Georgia", serif;

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: $body_font;
    font-size: 18px;
    line-height: 1.5em;
    background: $bg_color;
    color: $body_color;
    max-width: 100%;
    overflow-x: hidden;
}

::selection {
    background: $body_color;
    color: $bg_color;
}

::-moz-selection {
    background: $body_color;
    color: $bg_color;
}

a {
    color: $nav_link_color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

kbd {
    border: 1px solid $body_color;
    padding: 0 2px;
    border-radius: 2px;
    box-shadow: 2px 2px .5px 0 $border_color;
    font-size: .8em;
    font-style: italic;
    margin: 0px 0px 0px 2px;
    display: inline-table;
}


hr {
    font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji";
    border-color: transparent;
}


hr::before {
    content: "＊＊＊";
    font-weight: bold;
    text-align: center;
    display: inherit;
    letter-spacing: 4px;
    font-size: 1.5rem;
}

del {
    filter: blur(1.5px);
    color: $shadow_color;
    .at {
        background-color: $shadow_color;
    }
}

.at {
    background-color: $body_color;
    border-radius: 3px;
    color: $bg_color;
}

.rss {
    float: left;
    padding-top: 2px;
    padding-left: 5px;
    width: 0.8em;
    .rss-icon {
        fill: $body_color;
    }
    .rss-icon:hover {
        fill: $nav_link_color;
    }
}

/*-------------------------*/

/*----- center container --*/

/*-------------------------*/

.center-container {
    width: 800px;
    max-width: 90%;
    margin: 0 auto;
}

/*------------------*/

/*----- header -----*/

/*------------------*/

.header {
    width: 100%;
    padding: 40px 0;

    a {
        color: $body_color;
        transition: color linear .2s;

        &:hover {
            color: $nav_link_color;
            text-decoration: none;
        }
    }

    #logo {
        width: 40%;
        float: left;
        font-size: 1.25em;
    }

    .header-right {
        width: 60%;
        float: right;
        text-align: right;

        #search-box {
            .ais-search-box {
                input {
                    background: url("https://png.icons8.com/search") no-repeat;
                    background-size: 1rem 1rem;
                    border: none;
                    border-bottom: 1px solid $body_color;
                    box-shadow: none;
                    outline: none;
                    font-size: 0.8em;
                    padding-left: 20px;
                    border-radius: 0;
                }

                input:focus {
                    box-shadow: none;
                }

                .ais-search-box--magnifier-wrapper {
                    display: none !important;
                }

                .ais-search-box--reset-wrapper {
                    display: none !important;
                }
            }
        }

        .active {
            color: inherit;
        }

        .active::before {
            content: "[";
        }

        .active::after {
            content: "]";
        }

        //font-family: monospace;

    }
}

/*------------------*/

/*----- main -----*/

/*------------------*/

@media (min-width: 501px) {
    .grid-container {
        grid-template-columns: auto auto auto auto auto;
    }
}

@media (max-width: 500px) {
    .grid-container {
        grid-template-columns: auto auto auto;
    }

    .hidden-when-small {
        display: none;
    }

    .display-when-small {
        display: inline !important;
    }
}

@media (max-width: 400px) {
    .grid-container {
        grid-template-columns: auto auto;
    }
    .hidden-when-smaller {
        display: none !important;
    }

    .display-when-smaller {
        display: inline !important;
    }
}

@media (max-width: 355px) {  
    .grid-container {
        grid-template-columns: auto;
    }
    .hidden-when-smallest {
        display: none !important;
    }
}

.main {
    width: 100%;
    margin-bottom: 25px;

    .articles {
        a {
            color: $body_color;
        }

        h2 {
            color: $body_color;
            margin-top: 2em;
            font-weight: normal;
            font-size: 1.35em;

            span {
                color: $body_color;
                float: right;
                font-family: monospace;
                font-size: 0.8em;
            }

            &.draft {
                color: $shadow_color;
                a {
                    color: $shadow_color;
                }
                a::before {
                    content: "[";
                }
                a::after {
                    content: "]";
                }
                span {
                    color: $shadow_color;
                }
            }
 
            .hidde {
                display: none;
            }
        }

        p {
            margin-top: 1em;

            a {
                border-bottom: 1.5px solid $body_color;
                &:hover {
                    text-decoration: none;
                }
            }

            span {
                float: left;
                font-family: monospace;
                font-size: 0.8em;
            }

            &.draft {
                color: $shadow_color;
                a {
                    color: $shadow_color;
                    border-color: $shadow_color;
                }
                span::before {
                    content: "[";
                }
                span::after {
                    content: "]";
                }
            }
            .hidde {
                display: none;
            }
        }
    }

    article {
        a {
            color: $body_color;
            border-bottom: 1.5px solid $body_color;
            &:hover {
                text-decoration: none;
            }
        }
        .grid-container {
            display: grid;
            grid-column-gap: 1em;
            grid-row-gap: 1em;
        }
        .private {
            margin: 1em 0;
            filter: blur(2.5px);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .blur {
            color: $shadow_color;
            filter: blur(2.5px);
        }
        .references {
            color: $bg_color;
            display: block;
            background: $body_color;
            padding: 1em 1em 1em 1em;
            border-radius: 5px;
            border-bottom: 0px;
            margin-bottom: 1em;

            &:hover {
                text-decoration: none;
            }

            &::after {
                float: right;
                content: "➙ ";
            }
        }

        .books {
            color: $bg_color;
            display: block;
            background: $body_color;
            padding: 1em 1em 1em 1em;
            border-radius: 5px;
            border-bottom: 0px;
            margin-bottom: 1em;

            &:hover {
                text-decoration: none;
            }

            &::after {
                float: right;
                content: "📖 ";
            }
        }

        .resource {
            color: $bg_color;
            display: block;
            background: $body_color;
            padding: 1em 1em 1em 1em;
            border-radius: 5px;
            border-bottom: 0px;
            margin-bottom: 1em;

            &:hover {
                text-decoration: none;
            }

            &::after {
                float: right;
                content: "↓ ";
            }
        }

        .highlight {
            position: relative;
            margin-bottom: 1em;
        }

        .highlight-link {
            position: absolute;
            bottom: 0;
            right: 0;
            a {
                color: $help_link_color;
                border: none;
            }
        }

        header {
            padding-top: 50px;
            padding-bottom: 30px;
            text-align: center;

            h1 {
                padding-bottom: 20px;
                font-family: $body_font;
                font-weight: normal;
                font-size: 1.5em;
            }

            span {
                font-family: monospace;
                color: $shadow_color;
                font-size: 0.9em;
            }
        }
        aside {
            h1 {
                padding-top: 0.75em;
                padding-bottom: 0.75em;
                font-weight: bold;
                font-size: 1.5em;
            }

            #tableofcontents {
                margin-bottom: 1em;
            }

            #tableofcontents a {
                color: $body_color;
                border-bottom: 1.5px solid $body_color;
            }

            #tableofcontents nav ul li {
                clear: left;
                list-style-type: none;
            }

            #tableofcontents nav ul li ul li {
                padding-left: 2em;
                list-style-type: none;
            }
        }


        .content {
            #hits {
                .ais-hits {
                    .ais-hits--item {
                        a {
                            color: $body_color;
                        }

                        h2 {
                            font-weight: normal;
                            font-size: 1.35em;
                            font-family: $body_font;

                            span {
                                float: right;
                                font-family: monospace;
                                font-size: 0.8em;
                            }

                            .hidde {
                                display: none;
                            }
                        }
                    }
                }
            }

            .wip {
                display: none;
            }


            .task-list, .task-list ul {
                list-style-type: none;
            }

            .task-list-item:before {
                content: "[ ]";
                font-weight: bold;
            }

            .task-list-item-done:before {
                content: "[✔︎]";
                font-weight: bold;
                font-size: 0.9em;
            }
            
            .task-list-item-done {
                color: $shadow_color;
                filter: blur(1.5px);
                a {
                    color: $shadow_color;
                    border-color: $shadow_color;
                }

                .at {
                    background-color: $shadow_color;
                }
            }

            .task-list-shadow {
                label {
                    a {
                        border: none;
                        color: $help_link_color;
                        &::before {
                            content: "➙ ";
                        }
                    }
                    .at {
                        background-color: $bg_color;
                        color: $shadow_color;
                    }
                    color: $shadow_color;
                    border-radius: 5px;
                    border-bottom: 2px dotted;
                }
            }

            h1 {
                padding-top: 0.75em;
                padding-bottom: 0.75em;
                font-weight: bold;
                font-size: 1.5em;
            }

            h2 {
                padding-top: 0.75em;
                padding-bottom: 0.75em;
                font-weight: bold;
                font-size: 1.25em;
            }

            h3 {
                padding-top: 0.75em;
                padding-bottom: 0.75em;
                font-weight: normal;
                font-size: 1em;
            }

            .without-bullets {
                list-style-type:none;
            }

            ul {
                list-style-position: inside;
                list-style-type: square;
                padding-left: 2em;
                padding-top: 0.75em;
                padding-bottom: 0.75em;

                li {
                    p {
                        text-indent: 0px;
                    }
                }
            }

            ol {
                list-style-position: inside;
                padding-left: 2em;
                padding-top: 0.75em;
                padding-bottom: 0.75em;

                li {
                    p {
                        text-indent: 0px;
                    }
                }
            }

            blockquote {
                padding-top: 0.75em;
                padding-bottom: 0.75em;
                padding-left: 2em;
                color: $shadow_color;
                strong {
                    color: $body_color;
                }
                a {
                    color: $shadow_color;
                    border-color: $shadow_color;
                }
            }

            strong {
                color: black;
            }

            pre {
                padding-left: 2em;
                padding-top: 0.75em;
                padding-bottom: 0.75em;

                code {
                    font-family: "Fire Code", Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
                    font-size: 80%;
                    white-space: pre-wrap;
                }
            }

            code {
                font-family: "Fira Code", Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
                font-size: 80%;
                white-space: pre-wrap;
            }

            p {
                //text-indent: 2em;
                word-break: normal;
                padding-top: 0.75em;
                padding-bottom: 0.75em;
                hyphens: auto;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }

            }
            .flex-table {
                table {
                    display: table;
                }
            }

            table {
                border-collapse: collapse;
                //display: block;
                //overflow-x: auto;
                border-style: hidden;
                width:100%;
                color: $body_color;
                margin-bottom: 2em;
                //white-space: nowrap;
                overflow-wrap: break-word;
                max-width: 100%;
                table-layout: fixed;
                thead {
                    background-color: $table_header_color;
                    tr {
                        font-size:1.1em;
                        text-align:left;
                        padding-top:5px;
                        padding-bottom:4px;
                    }
                    th {
                        padding: 10px;
                        border: 1px solid $border_color;
                        border-top: 0;
                    }
                }
                tbody {
                    tr {
                        td {
                            kbd {
                              display: inline-block;
                            }
                        }
                        
                    }
                    td {
                        vertical-align: top;
                        border: 1px solid $border_color;
                        text-align: left;
                        padding: 0.2em 0.5em 0.2em 0.5em;
                    }
               }
               thead tr th:first-child {
                    border-left: 0;
               }
               tbody tr td:first-child {
                    border-left: 0;
               }
               thead tr th:last-child {
                    border-right: 0;
               }
               tbody tr td:last-child {
                    border-right: 0;
               }
            }

            .small-illustration {
                margin-left: auto;
                margin-right: auto;
                max-width: 300px;
            }

            figure {
                img {
                    max-width: 100%;
                    max-height: 100%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

/*------------------*/

/*----- pagination -----*/

/*------------------*/
.pagination {
    text-align: center;

    a {
        color: $body_color;
    }

    .prev {
        float: left;
    }

    span {
        .number {}
    }

    .next {
        float: right;
    }
}

/*------------------*/

/*----- footer -----*/

/*------------------*/

footer {
    width: 100%;
    padding: 50px 0 10px;

    p {
        text-align: center;
        font-size: 0.9em;
        font-style: italic;
    }

    form {
        text-align: center;
        display: none;

        .email {
            transition: width 0.1s;
            font-size: 0.8em;
        }
    }
}
