<h2>
    <a href="{{ .Permalink }}">{{ with .Draft }}[{{ end }}{{ .Title }}{{ with .Draft }}]{{ end }}</a>
    <span
        class="hidden-when-small hidden-when-smaller hidden-when-smallest">{{ .Date | dateFormat "Jan 2, 2006" }}</span>
    <span
        class="hidde  display-when-small hidden-when-smaller hidden-when-smallest">{{ .Date | dateFormat "Jan 2" }}</span>
    <span
        class="hidde  hidden-when-small display-when-smaller hidden-when-smallest">{{ .Date | dateFormat "Jan" }}</span>
</h2>
