<h2>
    <a href="{{ .Permalink }}" {{ if and (not .Draft) .Site.BuildDrafts }}class="public"{{end}}>{{ .Title }}</a>
    <span
        class="hidden-when-small hidden-when-smaller hidden-when-smallest">{{ .Date | dateFormat "Jan 2, 2006" }}</span>
    <span
        class="hidde  display-when-small hidden-when-smaller hidden-when-smallest">{{ .Date | dateFormat "Jan 2" }}</span>
    <span
        class="hidde  hidden-when-small display-when-smaller hidden-when-smallest">{{ .Date | dateFormat "Jan" }}</span>
</h2>
<span class="tags">
{{ range .Params.tags}}
<a href="/tags/{{.}}">{{.}}</a>
{{ end }}
{{ range .Params.categories}}
<a href="/categories/{{.}}">{{.}}</a>
{{ end }}

<a href="/{{.Section}}/">{{.Section}}</a>
</span>
