<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{partial "head.html" .}}

<body>
    <div class="center-container">
        {{ if eq .Section "archive" }}
        {{partial "header-archive.html" .}}
        {{ else }}
        {{partial "header.html" .}}
        {{ end }}
        <div class="main">
            <div class="articles">
                {{ $paginator := .Paginate .Data.Pages }}
                {{ range $paginator.Pages }}
                {{ .Render "li" }}
                {{ end }}
            </div>
        </div>
        {{ partial "pagination.html" $paginator }}
    </div>
</body>

</html>
