<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{partial "head.html" .}}


{{ $menus := (slice "") }}
{{ range $menu := .Site.Menus.main }}
    {{ $menus = $menus | append $menu.Identifier }}
{{ end }}

<body>
    <div class="center-container">
        {{ if and (in (slice "taxonomy" "taxonomyTerm" "section") .Kind) (not (in $menus .Section))}}
            {{partial "header-tags.html" .}}
        {{ else }}
            {{partial "header.html" .}}
        {{ end }}

        {{ $posts := .Data.Pages }}
        {{ if isset .Site.Params.collection .Section }}
            {{ $posts =  where .Site.RegularPages ".Type" "in" (index .Site.Params.collection .Section)}}
        {{ else if eq "public" .Section }}
            {{ $posts =  where .Site.RegularPages ".Draft" false }}
        {{ end }}

        {{ $types := slice }}
        {{ range $post := $posts }}
        {{ $types = $types | append $post.Type}}
        {{ end }}
        {{ $types = $types | uniq }}


        {{ if in .Site.Params.showInSection .Section }}
        {{ $collections := index .Site.Params.collection .Section }}
        {{ $types = $types | intersect $collections }}
        <div class="main">
                {{ range $type := $types }}
                    <section>
                        <h1 class="section">{{ $type }}<span><a href="/{{ $type }}">more</a></span></h1>
                    {{ range $post := first 8 (where $posts "Type" $type) }}
                            {{ .Render "li-section" }}
                    {{ end }}
                    </section>
                {{ end }}
        </div>
        {{ else }}
        <div class="main">
             <div class="articles">
                 {{ $paginator := .Paginate $posts }}
                 {{ range $paginator.Pages }}
                    {{ .Render "li" }}
                 {{ end }}
             </div>
         </div>
         {{ partial "pagination.html" $paginator }}
        {{ end }}
    </div>
</body>
{{ partial "footer.html" . }}
</html>
