<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{partial "head.html" .}}


{{ $menus := (slice "") }}
{{ range $menu := .Site.Menus.main }}
{{ $menus = $menus | append $menu.Identifier }} 
{{ end }}
<body>
    <div class="center-container">
        {{ if eq .Section "archive" }}
            {{partial "header-archive.html" .}}
        {{ else if and (in (slice "taxonomy" "taxonomyTerm" "section") .Kind) (not (in $menus .Section))}}
            {{partial "header-tags.html" .}}
        {{ else }}
            {{partial "header.html" .}}
        {{ end }}

        {{ $posts := .Data.Pages }}
        {{ if isset .Site.Params.nav .Section }}
            {{ $posts =  where .Site.RegularPages ".Type" "in" (index .Site.Params.nav .Section)}}
        {{ else if eq "public" .Section }}
            {{ $posts =  where .Site.RegularPages ".Draft" false }}
        {{ end }}

        <div class="main">
            <div class="articles">
                {{ $paginator := .Paginate $posts }}
                {{ range $paginator.Pages }}
                {{ .Render "li" }}
                {{ end }}
            </div>
        </div>
        {{ partial "pagination.html" $paginator }}
    </div>
</body>

</html>
