<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{partial "head.html" .}}

<body>
    <div class="center-container">
        {{ if not (in .Params.tags "clean") }}
        {{partial "header.html" .}}
        {{ end }}
        <div class="main">
            <article>
                {{ if not (in .Params.tags "clean") }}
                <header>
                    <h1 id="article-title" {{ if and (not .Draft) .Site.BuildDrafts }}class="public"{{end}}>{{ .Title }}</h1>
                    <span class="header-date">
                        {{ .Date | dateFormat "Jan 2, 2006" }} 
                    </span>
                    {{ partial "tags.html" . }}
                    {{ partial "time.html" . }}
                </header>
                    {{ if or (and (gt .WordCount 350) (gt (.TableOfContents | countwords) 10)) (in .Params.tags "toc")}}
                    <aside>
                        <div id="tableofcontents">
                            {{.TableOfContents}}
                        </div>
                    </aside>
                    {{ end }}
                {{ end }}
                <div class="content">{{ partial "header-anchor.html" .Content }}</div>
            </article>
            <hr>
            {{ $allRelated := getJSON "related.json" }}
            {{ $current := strings.TrimRight "/" .RelPermalink }}
            {{ $relatedPosts := index $allRelated $current }}
            {{ $scratch := newScratch }}
            {{ range $post := $relatedPosts }}
                {{ with $.Site.GetPage $post }}
                    {{ if or (not .Draft) (and .Draft .Site.BuildDrafts) }}
                        {{ $scratch.Add "relatedPosts" (slice $post) }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ $relatedPosts = $scratch.Get "relatedPosts" }}
            {{ with $relatedPosts }}
                <div class="related">
                <h4>Related posts:</h4>
                <ul>
                {{ range $post := $relatedPosts }}
                  {{ with $.Site.GetPage $post }}
                  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                  {{ end }}
                {{ end }}
                </ul>
                </div>
            {{ end }}

        </div>
    </div>
</body>
{{partial "footer.html" .}}
</html>
