<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{partial "head.html" .}}

<body>
    <div class="center-container">
        {{partial "header.html" .}}
        <div class="main">
            <article>
                <header>
                    <h1>{{ with .Draft }}[{{ end }}{{ .Title }}{{ with .Draft }}]{{ end }}</h1>
                    <span> <i class="icon-time"></i>
                        {{ .Date | dateFormat "Jan 2, 2006" }}
                    </span>
                </header>
                {{ if gt .WordCount 500 }}
                    <aside>
                        <div id="tableofcontents">
                            {{.TableOfContents}}
                        </div>
                    </aside>
                {{ end }}
                <div class="content">{{ .Content }} </div>
            </article>
        </div>
        {{partial "footer.html" .}}
    </div>
</body>

</html>
