<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{partial "head.html" .}}


{{ $menus := (slice "") }}
{{ range $menu := .Site.Menus.main }}
{{ $menus = $menus | append $menu.Identifier }}
{{ end }}
<body>
    <div class="center-container">
        {{partial "header.html" .}}

        <div class="main">
            <div class="articles">
                {{ $tagsMap := newScratch }}
                {{ $tagsIndex := slice }}
                {{ $tagsKeyVaule := newScratch }}
                {{ $englishChars := split "abcdefghijklmnopqrstuvwxyz" "" }}
                {{ range .Site.Sections }}
                    {{ if (not (in (slice "search" "term" "daily" "note" "plan") .Type)) }}
                        {{ $tagsKeyVaule.Set .Type .Permalink }}

                        {{ $firstChar := (lower (substr .Type 0 1)) }}
                        {{ if (not (in $englishChars (lower $firstChar))) }}
                            {{ $firstChar = "其他" }}
                        {{ end }}
                        {{ $tagsIndex = $tagsIndex | append $firstChar }}

                        {{ if $tagsMap.Get $firstChar }}
                            {{ $tagsMap.Add $firstChar (slice .Type)}}
                        {{ else }}
                            {{ $tagsMap.Set $firstChar slice }}
                            {{ $tagsMap.Add $firstChar (slice .Type)}}
                        {{ end }}
                    {{ end }}
                {{ end }}
                {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
                    {{ if in (slice "tags" "categories") $taxonomyname }}
                        {{ range $key, $value := $taxonomy }}
                            {{ with $.Site.GetPage (printf "/%s/%s" $taxonomyname $key) }}
                                {{ $tagsKeyVaule.Set $key .Permalink }}
                            {{ end }}

                            {{ $firstChar := (lower (substr $key 0 1)) }}
                            {{ if (not (in $englishChars (lower $firstChar))) }}
                                {{ $firstChar = "其他" }}
                            {{ end }}
                            {{ $tagsIndex = $tagsIndex | append $firstChar }}

                            {{ if $tagsMap.Get $firstChar }}
                                {{ $tagsMap.Add $firstChar (slice $key)}}
                            {{ else }}
                                {{ $tagsMap.Set $firstChar slice }}
                                {{ $tagsMap.Add $firstChar (slice $key)}}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
                {{ $tagsIndex = sort (uniq $tagsIndex) }}
                {{ $tagsCount := newScratch }}
                {{ $filteredTagsIndex := slice }}
                {{ range $index := $tagsIndex }}
                    {{ range $tagsKey := $tagsMap.Get $index }}
                        {{ $pagesCount := 0 }}
                        {{ $intersectPages := $.Site.RegularPages }}
                        {{ if not $.Site.BuildDrafts}}
                            {{ $intersectPages = where $.Site.RegularPages ".Draft" false }}
                        {{ end }}
                        {{ $filterByLike := add (len (where $.Site.RegularPages ".Type" "eq" "like")) (len (where $.Site.RegularPages ".Params.like" true)) }}
                        {{ $filterByType := len ((where $.Site.RegularPages ".Type" "eq" $tagsKey) | intersect $intersectPages) }}
                        {{ $filterByTagAndCatetory := len (($.Site.RegularPages.RelatedTo ( keyVals "tags" $tagsKey) (keyVals "categories" $tagsKey)) | intersect $intersectPages)}}
                        {{ $filterByDraft := len (where $.Site.RegularPages ".Draft" false ) }}
                        {{ if eq $tagsKey "like"}}
                            {{ $pagesCount = $filterByLike }}
                        {{ else if $filterByType }}
                            {{ $pagesCount = $filterByType }}
                         {{ else if $filterByTagAndCatetory}}
                            {{ $pagesCount = $filterByTagAndCatetory }}
                         {{ else if and $filterByDraft (eq $tagsKey "public") }}
                            {{ $pagesCount = $filterByDraft }}
                        {{ end }}
                        {{ $tagsCount.Set $tagsKey $pagesCount }}
                        {{ if $pagesCount }}
                            {{ $firstChar := (lower (substr $tagsKey 0 1)) }}
                            {{ if (not (in $englishChars (lower $firstChar))) }}
                                {{ $firstChar = "其他" }}
                            {{ end }}
                            {{ $filteredTagsIndex = $filteredTagsIndex | append $firstChar }}
                        {{ end }}
                    {{ end }}
                    {{ $filteredTagsIndex = uniq $filteredTagsIndex }}
                {{ end }}


                {{ if isset .Site.Params "collection" }}
                    <h1> </h1>
                    {{ range $key, $value := .Site.Params.collection }}
                        {{ $pagesCount := len (where $.Site.RegularPages ".Type" "in" (index $.Site.Params.collection $key)) }}
                        <a class="group" href="/{{ $key }}">{{ $key }}<span class="pages-count">{{ $pagesCount }}</span></a>
                    {{ end }}
                {{ end }}


                {{ range $index := $filteredTagsIndex }}
                    <h1>{{ upper $index}}</h1>
                    {{ range $tagsKey := $tagsMap.Get $index }}
                        {{ if $tagsCount.Get $tagsKey }}
                        <a class="tag" href="{{ $tagsKeyVaule.Get $tagsKey }}">{{ $tagsKey }}<span class="pages-count">{{ $tagsCount.Get $tagsKey }}</span></a>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>

</body>
{{ partial "footer.html" . }}
</html>

