{{ $name := "" }}
{{ if eq .Kind "section" }}
    {{ $name = .Type }}
{{ else if eq .Kind "taxonomy" }}
    {{ $name = .LinkTitle }}
{{ end }}
{{ $pagesCount := 0 }}
{{ $filterByType := len (where $.Site.RegularPages ".Type" "eq" $name) }}
{{ $filterByTagAndCatetory := len ( $.Site.RegularPages.RelatedTo ( keyVals "tags" $name) (keyVals "categories" $name))}}
{{ $filterByDraft := len (where $.Site.RegularPages ".Draft" false ) }}
{{ if $filterByType }}
    {{ $pagesCount = $filterByType }}
 {{ else if $filterByTagAndCatetory}}
    {{ $pagesCount = $filterByTagAndCatetory }}
 {{ else if $filterByDraft }}
    {{ $pagesCount = $filterByDraft }}
{{ end }}
<header class="header">
   <div id="logo">
       #{{ $name }}:<span class="pages-count">{{ $pagesCount }}</span>
   </div>
    <div class="header-right">
        <a href="/">{{ .Site.Title }}</a>
    </div>
</header>
