<head>
    <meta charset="UTF-8">
    <title>{{ .Page.Title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/chopin.css" />
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ .Site.BaseURL }}/images/favicon.ico" type="image/x-icon">
    {{ template "_internal/google_analytics.html" . }}
</head>
