<span class="tags">
{{ if and (not .Draft) .Site.BuildDrafts }}
    <a class="tag helper public-tag" href="/public/">public</a>
{{end}}

{{ range .Params.tags}}
    <a class="tag helper" href="/tags/{{.}}">{{.}}</a>
{{ end }}
{{ range .Params.categories}}
    <a class="tag helper" href="/categories/{{.}}">{{.}}</a>
{{ end }}

<a class="tag helper" href="/{{.Section}}/">{{.Section}}</a>
</span>
{{ with .Params.homepage }}
<span class="homepage">
    <a href="{{ . }}">homepage</a>
</span>
{{ end }}

{{ with .Params.like }}
    <a class="tag helper" href="/like">like</a>
{{ end }}

