<div class="tweet {{ with .Draft }}draft{{ end }}">
    <span class="tweet-date">{{ .Date | dateFormat "Jan 2 2006" }}</span>
    <br />
    {{ .Content | safeHTML }}

    {{ $assetsURL := $.Page.Site.Params.assets }}
    {{ with .Draft }}
      {{ $assetsURL = printf "%s/%s" $.Page.Site.Params.assets "private" }}
    {{ end }}

    <div class="ins">
    {{ range $p := .Params.pic }}
        <img
            src="{{ $assetsURL }}/images/ins/{{ $p }}"
         />
    {{ end }}
    </div>
<span {{ with .Draft }} class="draft" {{ end }}>
{{ partial "tags.html" . }}
</span>
</div>
